* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#hd {
  color: aliceblue;
  background-color: rgba(0, 0, 66, 0.733);
  height: 200px;
  padding: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
}
/* Animation for Box1 */
#box1 {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: coloranimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes coloranimation {
  from {
    background-color: aquamarine;
  }
  to {
    background-color: blueviolet;
  }
}

/* Animation for Box2 */
#box2 {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
}

#box2:hover {
  animation-name: position;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes position {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

/* Animation for Box3 */
#box3 {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#box3:hover {
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  font-style: italic;
  display: block;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100vw;
}
