* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  height: 200px;
  width: 200px;
  border: 8px aqua solid;
  border-top: 8px black solid;
  border-radius: 50%;
  animation: loader 3s ease-in 0s infinite normal;
  margin: 10px auto;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
